* {
    box-sizing: border-box; 
}

/* style du header */

h1 {
    font-size: larger;
    font-weight: bolder; 
    text-align: center;
    padding: 20px;
    background-color: #38383d;
    color: whitesmoke;
}
header{
    background-color: #38383d;
    color: whitesmoke;
}

header div i p{
    font-family: sans-serif;

}


header div{
    display: flex;
    justify-content: space-between;
    
} 
#content{
    background-color: #2c3c50;
    background-image: linear-gradient(black, whitesmoke);
}
.produit{

    background-color: #808080;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px #00000030;
    border-radius: 15px;
}
#search{
    width: 80%;
    height: 50px;
    padding: 5px;
    margin: 5px;
    display: none;
}

nav{
    display: none;
}

#recherche{
    display: flex;
}

i{
    position: relative;
    padding: 17px;
    font-size: 2em;
    color: whitesmoke;
}

i div{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: greenyellow;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 0.4em;
    padding: 3px;
}

ul{
    display: flex;
} 

li{
    list-style-type: none;  
    padding: 20px 50px;

 }

 li form{
     display: flex;
     flex-direction: column;

 }

 li form label{
     padding: 10px;
 }

li:hover{
    background-color: azure;
}

#capacity, #brand, #color{
    display: none;
}

#filtre{
    margin: auto;
}

/* style du main */

body {
    align-content: center;
}

@media (min-width: 901px) {
    #content{
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        
    }
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

img {
    width: 300px;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    height: 300px;
    object-fit: cover;}

figure {
    padding-bottom: 20px;
}
button{
    margin-bottom: 5px;
}